/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-07, 14:15:32
    Author     : usager
*/

body {
    font:0.8em/1.5 "arial", sans-serif;
    margin: 50px;
}

#titre {
    border : 1px solid black;
    font-size: 25px;
}

.dessin{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display:inline-block;
    background-color: grey;    
}
.dessin2{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display:inline-block;
    background-color: grey;    
}

#annonces {
     border : 1px solid black;
     padding-left: 150px;
}

.annonces {
    border : 1px solid green;
}

.blocs {
     border : 1px solid red;
}

#ti {
    float : left;
}

#button {
    float : right;
}

header {
    height: 30px;
}

#recherche {
    border: 2px solid black;
    padding-bottom: 100px;
    padding-top: 100px;
}

h2 {
    background-color: greenyellow;
}

form { 
margin: 0 auto; 
width:690px;
}